.embed-body 
{
    display: flex;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
.embed-body:hover
{
    transform:scale(0.95);
}

.embed-description 
{
   width:30vw;

   margin: 5px;
}

.embed-video 
{

}
  
.embed-body iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: relative;
}