.projectcontainer-body
{    
    width:100%;
    height:calc(100vh - 60px - 1px);

    display: flex;
}

.projectcontainer-left
{
    height:100%;
    width:360px;

    border-color: rgb(39, 39, 39);
    border-style:solid;
    border-width: 0px 1px 0px 0px;   
}

.projectcontainer-right
{
    height:100%;
    width:calc(100vw - 360px);     
}