.table {
  margin: 5px;

  border-collapse: collapse;
}

.cell {
  height: 40px;
  width: 40px;

  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;

  background-color: rgb(255, 255, 255);
}
.cell-dark {
  height: 40px;
  width: 40px;

  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;

  background-color: rgb(17, 16, 16);
}
.cell-dark:hover {
  background-color: rgb(173, 204, 255);

  transition: all 0.1s ease-out;
}
.cell:hover {
  background-color: rgb(173, 204, 255);

  transition: all 0.1s ease-out;
}
