.square
{
    display:flex;

    align-items: center;
    justify-content: center;

    width:100%;
    height:100%;

    position: relative;

}
.square-dark
{
    background-color: wheat
}
.square-light
{
    background-color: rgb(105, 82, 39);
}

.square-container
{
    position:absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width:100%;
    height:100%;

    cursor:grab;
}

.square-move
{
    position:absolute;

    width:25%;
    height:25%;

    border-radius: 50%;

    opacity: 0.7;

    background-color: rgb(92, 131, 156);

    pointer-events: none;
}

.square-hit
{
    position:absolute;

    width:100%;
    height:100%;

    top:0;
    left:0;

    box-sizing: border-box;
    border-width: 5px;
    border-color: rgb(189, 80, 80);
    border-style: solid; 

    opacity: 0.7;

    pointer-events: none;
}

/* Specific interaction statuses of the tile */
.status-selected
{
    opacity: 0.5;
}
.status-hovering-empty
{
    background-color: rgb(128, 187, 226);
}
.status-hovering-target
{
    /* keep it empty for now, no color change required */
    background-color: rgb(189, 80, 80);

    opacity: 0.7;
}
.square-image
{
    height:95%;

    pointer-events: none;
}