.showcase-body
{
    background-color: rgb(243, 243, 243);
    width: 20vw;
    height: 20vw;
    border-radius: 4px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(56, 56, 56);

    /* hide the overlapping children elements for active border radius */
    overflow: hidden;

    margin: 10px;
}

.showcase-content
{
    background-color: rgb(243, 243, 243);
    height: 80%;
    transition: all 0.3s ease;

    overflow: hidden;
}
.showcase-content:hover
{
    background-color: rgb(185, 228, 224);
}

.showcase-image
{
    display: block;
    margin: auto;
    height: 100%;

    transform:scale(1);
    transition: all 0.3s ease;
}
.showcase-image:hover
{
    transform:scale(1.1);
}

.showcase-info
{
    background-color: rgb(194, 186, 186);
    height: 20%;

    /* define the padding for the text in this control */
    padding: 3px;
}

.showcase-description
{
    text-align: left;
}