.nav
{
    background: white;
    height: 60px;
    width:100%;
    display: flex;
    font-size: 1.2rem;

    border-color: rgb(175, 175, 175);
    border-style:solid;
    border-width: 0px 0px 1px 0px;   
}
.nav-left
{
    height: 100%;
    width: 340px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right
{
    height: 100%;
    width: calc(100vw - 340px);

    display: flex;
    align-items: center;
    justify-content: center;   
}

/* Divide the navigation bar up into multiple styles:
- Title
- Menu items
*/

.nav-title
{
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
    font-weight: bold;   
}
.nav-menu
{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1px;
    list-style: none;
}

.nav-item
{
    color: rgb(66, 66, 66);
    text-decoration:none;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;

}
.nav-item:hover
{
    background-color: #f1fbff;
    
    border-color: rgb(110, 176, 230);
    border-style:solid;
    border-width: 0px 0px 3px 0px;   
}