.grid-body
{
    width: 80%;
    height: 92vh;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-row
{
    background-color: tomato;
    width: 100%;
    height: 30vh;
}